@{
    Layout = "~/_Layout.cshtml";

    
}

    <header>
        <h2>Quality. Beauty. Durability.</h2>
    </header>
    <section>
        <h4>Need a desk? The ordering process is simple and quick. <a href="~/newOrder">Order now</a></h4>
        <p class="blockText">
            <img style="float: right;" src="~/Styles/EX45672.jpg" alt="desk" />
            Mega-Escritorio has been making desks for over 10 years. We believe you shouldn't have to choose between beauty or functionality in a desk and here at
            Mega Escritorio we are dedicated to delivering both along with quality craftsmanship that will last you a lifetime and beyond.
            We use hand-cut materials shaped by master craftsmen and have complete confidence in the quality of all our desks.
         </p>
        <p class="blockText">
            Our made to order desks are a sight to see and sure to become a family heirloom so we want to be sure you get exactly what you're looking for.
            If there is a feature you would like that can't be found on our site, please add a note to your order and we'll have one of our designs contact you 
            and work with you to find the right solution. Some previous customers have even had custom desks made using wood from a tree from the old family farm, or incorportaing
            features such as an antique clock or compass, turning it from just a desk into a beautifully functional piece of memoriabilia that they can enjoy for years to come.
        </p>
        <p class="blockText">
            <a href="~/Register">Create an account</a> and let us show you what we can build for you!
</p>
        <div class="spacer"></div>
    </section>

