@{
    Layout = "~/_Layout.cshtml";

    
}

    <header>
        <h2>Mega-Escritorio Home</h2>
    </header>
    <section>
        <h2>Order a customized desk today!</h2>
        <h4>Mega-Escritorio has been making desks for over 10 years. 
        We use hand-cut materials and have complete confidence in the quality of all our desks. Need a desk? The ordering process is simple and quick. Order below.</h4>
        <div id="linkMe"><a href="~/orderList">Order now</a></div>
    </section>

