<!DOCTYPE html>
<html>
    <head>
        <title>Mega-Escritorio Home</title>
        <link rel="stylesheet" type="text/css" href="~/layout.css" />
    </head>
    <body>
        <h1>Order a customized desk today!</h1>
        <h2>Mega-Escritorio has been making desks for over 10 years. We use hand-cut materials and have complete confidence in the quality of all our desks. Need a desk? The ordering process is simple and quick. Order below.</h2>
        <div id="linkMe"><a href="~/orderList">Order now</a></div>
    </body>
</html>
