<!DOCTYPE html>
<html>
    <head>
        <title>Mega-Escritorio Home</title>
    </head>
    <body>
        <h1>Order a customized desk today!</h1>
        <h2>Mega-Escritorio has been making desks for over 10 years. We use hand-cut materials and have complete confidence in the quality of all our desks. Need a desk? The ordering process is simple and quick. Order below.</h2>
        <a href="~/orderList">Order now</a>
    </body>
</html>
