
@{
    Layout = "~/_Layout.cshtml";

    WebSecurity.Logout();
}
<header>
    <h2>Logout</h2>
</header>
<section>
    <h1>Logout</h1>
    <p>You are now logged out!</p>
    <p><a href="@Href("~/Home")">Return to home page</a></p>
</section>