@{
    Layout = "~/_Layout.cshtml";

    var db = Database.Open("deskIt");
    var selectCommand = "SELECT * FROM Orders WHERE accountName = @0";
    var searchTerm = "";
    var user = WebSecurity.CurrentUserName;

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Login");
    }


    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Orders WHERE accountName = @0 AND Customer LIKE @1 ";
        searchTerm = "%" + Request.QueryString["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, user, searchTerm);

    var grid = new WebGrid(source: selectedData, defaultSort: "Customer", rowsPerPage: 10);
}
<!DOCTYPE html>
<html>
<head>
    <title>Mega Escritorio Order</title>
    <link rel="stylesheet" type="text/css" href="~/layout.css" />
</head>
<body>
    <header>
        <h1>Mega Escritorio</h1>
        <h2>Here is a collection of past customer orders.</h2>
    </header>
    <form method="get">
        <div id="searcher">
            <label for="SearchName">Order Name:</label>
            <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
            <input type="Submit" value="Search Name" /><br />
            (Leave blank to list all orders associated with this account.)<br />
        </div>
    </form>
    <section>
        @grid.GetHtml(
  tableStyle: "grid",
  headerStyle: "Read",
  alternatingRowStyle: "alt",
  columns: grid.Columns(
  grid.Column(format: @<a href="~/edit_form?id=@item.ID">Edit</a>),
  grid.Column("Customer"),
  grid.Column("dateSubmitted"),
  grid.Column(format: @<a href="~/delete_it?id=@item.ID">Delete</a>)
     )
        )

    </section>
    <p id="linkMe">
        <a href="~/newOrder">Add an order</a><br />
        <a href="~/orderList">View all desk orders</a><br />
        <a href="/home">Home</a>
    </p>
    <footer>
        &copy Miller | Programs
    </footer>
</body>
</html>
